<?xml version="1.0" ?>
<robot name="forros" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find forros_description)/urdf/materials.xacro" />
<xacro:include filename="$(find forros_description)/urdf/forros.ros2control" />
<xacro:include filename="$(find forros_description)/urdf/forros.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.1099999999999859 0.115 0.12499999999999567" rpy="0 0 0"/>
    <mass value="4.238938346244173"/>
    <inertia ixx="0.0169907" iyy="0.0346538" izz="0.0459219" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_mid_wheel_1">
  <inertial>
    <origin xyz="1.0320994585366616e-07 0.02500000022351742 4.163336342344337e-17" rpy="0 0 0"/>
    <mass value="0.3313045200437847"/>
    <inertia ixx="0.0002916" iyy="0.0004451" izz="0.0002916" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.069447 -0.2451 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/right_mid_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.069447 -0.2451 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/right_mid_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_mid_wheel_1">
  <inertial>
    <origin xyz="1.0320994585366616e-07 -0.025000000223517366 9.71445146547012e-17" rpy="0 0 0"/>
    <mass value="0.3313045200437847"/>
    <inertia ixx="0.0002916" iyy="0.0004451" izz="0.0002916" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.069447 0.0151 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/left_mid_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.069447 0.0151 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/left_mid_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="BogieArm_left_1">
  <inertial>
    <origin xyz="-0.007934958334341356 -0.005960926612365235 -0.05324218357569474" rpy="0 0 0"/>
    <mass value="0.2125433566188938"/>
    <inertia ixx="0.000177" iyy="0.000759" izz="0.000595" ixy="1.7e-05" iyz="6e-06" ixz="-2.5e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.0 0.0001 -0.098284" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/BogieArm_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 0.0001 -0.098284" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/BogieArm_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_house_left_mid_1">
  <inertial>
    <origin xyz="-0.02301405530505564 0.020048835168710432 -0.021928305846190148" rpy="0 0 0"/>
    <mass value="0.10114695832213066"/>
    <inertia ixx="5.5e-05" iyy="4.2e-05" izz="4.9e-05" ixy="0.0" iyz="8e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.092547 0.0076 0.00445" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_left_mid_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.092547 0.0076 0.00445" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_left_mid_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="BogieArm_right_1">
  <inertial>
    <origin xyz="-0.007915464092062029 0.005964707737386582 -0.053111379950770074" rpy="0 0 0"/>
    <mass value="0.21306680939944553"/>
    <inertia ixx="0.000179" iyy="0.00076" izz="0.000595" ixy="-1.7e-05" iyz="-6e-06" ixz="-2.5e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.0 -0.2301 -0.098284" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/BogieArm_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 -0.2301 -0.098284" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/BogieArm_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_back_wheel_1">
  <inertial>
    <origin xyz="3.2278066333657485e-07 0.025000000067055467 4.163336342344337e-17" rpy="0 0 0"/>
    <mass value="0.3313045200437847"/>
    <inertia ixx="0.0002916" iyy="0.0004451" izz="0.0002916" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.221726 -0.2451 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/right_back_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.221726 -0.2451 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/right_back_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_front_wheel_1">
  <inertial>
    <origin xyz="1.032099458120328e-07 0.025000000223517643 4.163336342344337e-17" rpy="0 0 0"/>
    <mass value="0.3313045200437847"/>
    <inertia ixx="0.0002916" iyy="0.0004451" izz="0.0002916" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.080553 -0.2446 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/right_front_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.080553 -0.2446 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/right_front_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_back_wheel_1">
  <inertial>
    <origin xyz="3.2278066333657485e-07 -0.02500000006705523 4.85722573273506e-17" rpy="0 0 0"/>
    <mass value="0.3313045200437847"/>
    <inertia ixx="0.0002916" iyy="0.0004451" izz="0.0002916" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.221726 0.0151 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/left_back_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.221726 0.0151 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/left_back_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_front_wheel_1">
  <inertial>
    <origin xyz="1.0320994583978838e-07 -0.025000000223517435 4.163336342344337e-17" rpy="0 0 0"/>
    <mass value="0.3313045200437847"/>
    <inertia ixx="0.0002916" iyy="0.0004451" izz="0.0002916" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.080553 0.0146 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/left_front_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.080553 0.0146 0.04945" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/left_front_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_house_right_mid_1">
  <inertial>
    <origin xyz="0.02298594469494438 -0.02004883516871042 -0.02192830584619015" rpy="0 0 0"/>
    <mass value="0.1011469583221307"/>
    <inertia ixx="5.5e-05" iyy="4.2e-05" izz="4.9e-05" ixy="-0.0" iyz="-8e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.046547 -0.2376 0.00445" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_right_mid_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.046547 -0.2376 0.00445" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_right_mid_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_house_left_front_1">
  <inertial>
    <origin xyz="-0.010495831765585162 0.03363253748664037 -0.03842749012891794" rpy="0 0 0"/>
    <mass value="0.03461695947730542"/>
    <inertia ixx="2.6e-05" iyy="2e-05" izz="2.2e-05" ixy="0.0" iyz="4e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.07 0.0197 -0.001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_left_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.07 0.0197 -0.001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_left_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_house_right_front_1">
  <inertial>
    <origin xyz="-0.010495831765585203 0.20556746251335986 -0.036427490128917904" rpy="0 0 0"/>
    <mass value="0.03461695947730542"/>
    <inertia ixx="2.6e-05" iyy="2e-05" izz="2.2e-05" ixy="-0.0" iyz="-4e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.07 ${-0.0105-0.2392} 0.001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_right_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.07 ${-0.0105-0.2392} 0.001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_right_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_house_right_back_2">
  <inertial>
    <origin xyz="-0.010495612194957038 0.22156746235697392 -0.036427490128845094" rpy="0 0 0"/>
    <mass value="0.03461695947738301"/>
    <inertia ixx="2.6e-05" iyy="2e-05" izz="2.2e-05" ixy="-0.0" iyz="-4e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.232279 ${0.0052-0.2392} 0.001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_right_back_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.232279 ${0.0052-0.2392} 0.001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_right_back_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_house_left_back_1">
  <inertial>
    <origin xyz="-0.010495612194957038 0.018632537643026307 -0.03842749012884514" rpy="0 0 0"/>
    <mass value="0.03461695947738301"/>
    <inertia ixx="2.6e-05" iyy="2e-05" izz="2.2e-05" ixy="0.0" iyz="4e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.232279 0.0052 -0.001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_left_back_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.232279 0.0052 -0.001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/motor_house_left_back_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RockerArm_left_1">
  <inertial>
    <origin xyz="0.06420889004519563 -0.010702899179575369 -0.04635989938036705" rpy="0 0 0"/>
    <mass value="0.3451338053749135"/>
    <inertia ixx="0.000724" iyy="0.003445" izz="0.00276" ixy="8e-05" iyz="-5.3e-05" ixz="0.001007"/>
  </inertial>
  <visual>
    <origin xyz="-0.11 -0.015 -0.125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/RockerArm_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.11 -0.015 -0.125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/RockerArm_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RockerArm_right_1">
  <inertial>
    <origin xyz="0.06420889004706408 0.010702899179575398 -0.04635989937979226" rpy="0 0 0"/>
    <mass value="0.3451338053749135"/>
    <inertia ixx="0.000724" iyy="0.003445" izz="0.00276" ixy="-8e-05" iyz="5.3e-05" ixz="0.001007"/>
  </inertial>
  <visual>
    <origin xyz="-0.11 -0.215 -0.125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/RockerArm_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.11 -0.215 -0.125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find forros_description)/meshes/RockerArm_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="right_mid_wheel" type="continuous">
  <origin xyz="0.0229 0.0075 -0.045" rpy="0 0 0"/>
  <parent link="motor_house_right_mid_1"/>
  <child link="right_mid_wheel_1"/>
  <axis xyz="-0.0 -1.0 0.0"/>
  <limit effort="10.0" velocity="20.0"/>
</joint>

<joint name="left_mid_wheel" type="continuous">
  <origin xyz="-0.0231 -0.0075 -0.045" rpy="0 0 0"/>
  <parent link="motor_house_left_mid_1"/>
  <child link="left_mid_wheel_1"/>
  <axis xyz="-0.0 -1.0 0.0"/>
  <limit effort="10.0" velocity="20.0"/>
</joint>

<joint name="left_rocker_bogie" type="revolute">
  <origin xyz="-0.11 -0.0151 -0.026716" rpy="0 0 0"/>
  <parent link="RockerArm_left_1"/>
  <child link="BogieArm_left_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
  <limit upper="0.872665" lower="-0.436332" effort="100" velocity="100"/>
  <dynamics damping="0.1" friction="0.5"/>
</joint>

<joint name="Rigid 58" type="fixed">
  <origin xyz="0.092547 -0.0075 -0.102734" rpy="0 0 0"/>
  <parent link="BogieArm_left_1"/>
  <child link="motor_house_left_mid_1"/>
</joint>

<joint name="right_rocker_bogie" type="revolute">
  <origin xyz="-0.11 0.0151 -0.026716" rpy="0 0 0"/>
  <parent link="RockerArm_right_1"/>
  <child link="BogieArm_right_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
  <limit upper="0.872665" lower="-0.436332" effort="100" velocity="100"/>
  <dynamics damping="0.1" friction="0.5"/>
</joint>

<joint name="right_back_wheel" type="continuous">
  <origin xyz="-0.010553 ${0.2501-0.2392} -0.04845" rpy="0 0 0"/>
  <parent link="motor_house_right_back_2"/>
  <child link="right_back_wheel_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <limit effort="10.0" velocity="20.0"/>
</joint>

<joint name="right_front_wheel" type="continuous">
  <origin xyz="-0.010553 ${0.2341-0.2392} -0.04845" rpy="0 0 0"/>
  <parent link="motor_house_right_front_1"/>
  <child link="right_front_wheel_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <limit effort="10.0" velocity="20.0"/>
</joint>

<joint name="left_back_wheel" type="continuous">
  <origin xyz="-0.010553 -0.0099 -0.05045" rpy="0 0 0"/>
  <parent link="motor_house_left_back_1"/>
  <child link="left_back_wheel_1"/>
  <axis xyz="-0.0 -1.0 -0.0"/>
  <limit effort="10.0" velocity="20.0"/>
</joint>

<joint name="left_front_wheel" type="continuous">
  <origin xyz="-0.010553 0.0051 -0.05045" rpy="0 0 0"/>
  <parent link="motor_house_left_front_1"/>
  <child link="left_front_wheel_1"/>
  <axis xyz="-0.0 -1.0 -0.0"/>
  <limit effort="10.0" velocity="20.0"/>
</joint>

<joint name="Rigid 67" type="fixed">
  <origin xyz="0.046547 0.0075 -0.102734" rpy="0 0 0"/>
  <parent link="BogieArm_right_1"/>
  <child link="motor_house_right_mid_1"/>
</joint>

<joint name="motor_house_left_front" type="revolute">
  <origin xyz="-0.07 -0.0196 -0.097284" rpy="0 0 0"/>
  <parent link="BogieArm_left_1"/>
  <child link="motor_house_left_front_1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="motor_house_right_front" type="revolute">//fix
  <origin xyz="-0.07 ${-0.2196+0.2392} -0.099284" rpy="0 0 0"/>
  <parent link="BogieArm_right_1"/>
  <child link="motor_house_right_front_1"/>
  <axis xyz="-0.0 0.0 -1.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="motor_house_right_back" type="revolute">//fix
  <origin xyz="0.122279 ${-0.22+0.2392} -0.126" rpy="0 0 0"/>
  <parent link="RockerArm_right_1"/>
  <child link="motor_house_right_back_2"/>
  <axis xyz="-0.0 0.0 -1.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="motor_house_left_back" type="revolute">
  <origin xyz="0.122279 -0.0202 -0.124" rpy="0 0 0"/>
  <parent link="RockerArm_left_1"/>
  <child link="motor_house_left_back_1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="100" velocity="100"/>
</joint>

<joint name="left_rocker_arm" type="revolute">
  <origin xyz="0.11 0.015 0.125" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="RockerArm_left_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <limit upper="0.349066" lower="-0.349066" effort="100" velocity="100"/>
  <dynamics damping="2" friction="0.5"/>
</joint>

<joint name="right_rocker_arm" type="revolute">
  <origin xyz="0.11 0.215 0.125" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="RockerArm_right_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="0.349066" lower="-0.349066" effort="100" velocity="100"/>
  <dynamics damping="2" friction="0.5"/>
  <mimic joint="left_rocker_arm" multiplier="1" offset="0"/>
</joint>

<link name="lidar_link">
  <inertial>
    <mass value="0.11"/>
    <inertia ixx="1e-5" iyy="1e-5" izz="1e-5" ixy="0" iyz="0" ixz="0"/>
  </inertial>
  <visual>
    <geometry>
      <cylinder radius="0.0278" length="0.0413"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <geometry>
      <cylinder radius="0.0278" length="0.0413"/>
    </geometry>
  </collision>
</link>

<joint name="lidar_joint" type="fixed">
  <origin xyz="-0.0102 0.115 0.18" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="lidar_link"/>
</joint>

<link name="camera_link">
  <inertial>
    <mass value="0.072"/>
    <inertia ixx="1e-5" iyy="1e-5" izz="1e-5" ixy="0" iyz="0" ixz="0"/>
  </inertial>
  <visual>
    <geometry>
      <box size="0.025 0.09 0.025"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <geometry>
      <box size="0.025 0.09 0.025"/>
    </geometry>
  </collision>
</link>

<joint name="camera_joint" type="fixed">
  <origin xyz="-0.04 0.115 0.12" rpy="3.14159 -3.14159 0"/>
  <parent link="base_link"/>
  <child link="camera_link"/>
</joint>

</robot>
